.book{
   width: 13em;
   padding:.5em;
}
.container-text{
    width: 13em;
    background-color:rgb(153, 88, 214);
    color:white;
    padding: 1px;
}
.container{
    display:grid;
    grid-template-columns:repeat(auto-fill,13em);
    grid-gap:4em;
    justify-content: center;
    background-color: rgb(245, 242, 251);
  
}    
.tiempo{
    margin-top: 8px;
}
.loco{
    margin-top: 10px;
}
/* this section is diferent */

.container2{
    display: flex;
    background-color: rgb(245, 242, 251);
    justify-content: center;
    
}
.image2{
    width: 20em;
    margin-right: 4em;
    margin-top:2em;
    margin-bottom: 2em;
}
.text{
    max-width: 16em;
    padding: 2%;
    margin-top:2em;
    margin-bottom: 2em;
    background-color: rgb(235, 233, 243);
    
}
.coverage{
    background: rgb(255, 255, 255,.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    display: none;

}
.container-book{
    cursor:pointer;
    position:relative;
    display: block;
}
.container-book:hover .coverage{
    display: flex;
}
@media screen and (max-width:767px){
    .image2{
        width: 15em;
        margin-right: 2em;
    }
    .text{
        max-width: 14em;
    }
}
@media screen and (max-width:426px){
    .container2{
        display: block;
        
    }
    .image2{
        width: 15em;
        margin-right: 1em;
        margin-left: 2em;
        
    }
    .text{
        max-width: 14em;
        margin-left:2em;
        margin-bottom: 2em;
    }
}


