.container-contact{
    
    height: 40vw;
    background-color: rgb(245, 242, 251);
    
}
.contact-img{
    width: 15em;
    margin:.5em;
    border-radius: 38%;
    border:1em solid rgb(215, 188, 241);
}
.img-container{
    display: flex;
    justify-content: center;
}
h4{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    padding:.2em;
}
@media screen and (max-width:790px){
    .img-container{
        display:block;
    }
    .contact-img{
        width: 13em;
    }
}
@media screen and (max-width:680px){
    .contact-img{
        width: 11em;
    }
}
@media screen and (max-width:426px){
    h4{
        font-size: 1em;
    }
}
@media screen and (max-width:376px){
    h4{
        font-size: .8em;
        padding:1em;
    }
    .contact-img{
        width: 6.5em;
    }
}