.container-contact{
    /* width: 56em; */
    width: 100vw;
    /* background-color: rgb(234, 223, 245); */
    background-color: rgb(245, 242, 251);
    
}
.contact-img{
    width: 15em;
    margin:.5em;
    border-radius: 38%;
    border:1em solid rgb(215, 188, 241);
}
.img-container{
    display: flex;
    justify-content: center;
}
h4{
    justify-content: center;
}